@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  body {
    font-family: 'Jost', sans-serif;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


#sortbox:checked~#sortboxmenu {
  opacity: 1;
}