.container{
    width: 50vh;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.iconImg{
    width: 20px;
    height: 20px;
    position: relative;
}

.counter{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    font-size: large;
}